@if (TempData["Success"] != null)
{
    <div class="notificationContainer">
        <div class="alert alert-success notification">@TempData["Success"]</div>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="notificationContainer">
        <div class="alert alert-danger notification">@TempData["Danger"]</div>
    </div>
}

